{% extends 'base_pen.html' %}
{% load static %}
{% block content %}


<head>
  <style>

    #juklib_button1,#juklib_button2,#juklib_button3 {
    
    background-color: rgb(164, 198, 164);
    border : 0;
    width: 200px;
    height: 75px;
    border-radius: 18px;
    color: white;
    margin-left: 30px;
    margin-top: 15px;
    font-size: 35px;
    box-shadow: 2px 2px 13px rgb(220, 218, 218);
    }
     
    </style>

    <link rel="stylesheet" type="text/css" href="//cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <link rel="stylesheet" href="{% static 'css/topics/graph.css' %}">

        <!-- 2. 사이트 html 하단 script 태그 위치 -->
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/series-label.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/modules/export-data.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $('ul.tabs li').click(function(){
                var tab_id = $(this).attr('data-tab');
                
                $('ul.tabs li').removeClass('current');
                $('.tab-content').removeClass('current');
                $(this).addClass('current');
                $("#"+tab_id).addClass('current');            
            });
            $('#juklib_button1').click(function(){
              kind = $(this).val();
              pk = localStorage.pk
              {% comment %} kind: 탄소량 / pk : 사용자 pk {% endcomment %}
               
              $.ajax({
              type:'POST',
              url:'/getPoint/',
              dataType:'json',
              data:{
              'kind':kind,
              'pk':pk
              },
              success:function(json){
                msg=json.msg
                if(msg == '사용내역 없음'){
                  alert("적립가능한 포인트가 없습니다.")
                }else if(msg=="텀블러"){

                }else{
                  alert("포인트가 적립되지 않았습니다.")
                }
              },
              error : function(xhr,errmsg,err) {
              console.log(xhr.status + ": " + xhr.responseText);
              }
              
               
              });
               
               
              
               
              });
              $('#juklib_button2').click(function(){
              kind = $(this).val();
              pk = localStorage.pk
              {% comment %} kind: 탄소량 / pk : 사용자 pk {% endcomment %}
               
              $.ajax({
              type:'POST',
              url:'/getPoint/',
              dataType:'json',
              data:{
              'kind':kind,
              'pk':pk
              },
              success:function(json){
                msg=json.msg
                if(msg == '사용내역 없음'){
                  alert("적립가능한 포인트가 없습니다.")
                }else if(msg=="장바구니"){

                }else{
                  alert("포인트가 적립되지 않았습니다.")
                }
              
              },
              error : function(xhr,errmsg,err) {
              console.log(xhr.status + ": " + xhr.responseText);
              }
              
               
              });
              
              
              
              
              });
              $('#juklib_button3').click(function(){
              kind = $(this).val();
              pk = localStorage.pk
              {% comment %} kind: 탄소량 / pk : 사용자 pk {% endcomment %}
               
              $.ajax({
              type:'POST',
              url:'/getPoint/',
              dataType:'json',
              data:{
              'kind':kind,
              'pk':pk
              },
              success:function(json){
                msg=json.msg
                if(msg == '사용내역 없음'){
                  alert("적립가능한 포인트가 없습니다.")
                }else if(msg=="다회용기"){

                }else{
                  alert("포인트가 적립되지 않았습니다.")
                }
              
              },
              error : function(xhr,errmsg,err) {
              console.log(xhr.status + ": " + xhr.responseText);
              }
              
               
              });
               
               
              
               
              });
              });
    </script>

    
</head>


<body>
  {% comment %} <div id="add_feed" style="font-size:30px;">안녕</div> {% endcomment %}
  <div id="aaaaa">
    <figure class="highcharts-figure">
      <div id="graph"></div>
      <p class="highcharts-description">
      
    </figure>
  </div>

  <!-- 5. <script src="{% static 'chart/js/line.js' %}" ></script> -->
  <!-- 6. script -->
  <script>
    Highcharts.chart('graph', {
 
      chart: {
      type: 'column',
      style: {//차트 전체 스타일 지정
      color: '#444',
      fontFamily: 'notoSans',

      fontWeight:'700',
      fontSize:'10px',
      {% comment %} margin:'10px' {% endcomment %}
      }
      },
       
      title: {
      style: {//차트 전체 스타일 지정
      color: 'black',
      fontFamily: 'NanumSquareRound',
      fontWeight:'700',
      fontSize:'50px',
      },
      text: '이용횟수와 탄소 감축량'
      },
      
      
      xAxis: {

          categories: ['텀블러', '장바구니', '다회용품'],
          labels:{ //x축이 어떻게 보일것인지 설정
            style: {color:'black', fontSize:"26px", fontWeight: "500" //글자색}
          }
        }



      },


// **********************************************

      yAxis: [{ // Primary yAxis

      title:''
      }, { // Secondary yAxis
      gridLineWidth: 0,
      title: {
      text: '',
      subtitle:'',
      },
      
      max:7,
      min:0,
      //
      labels: {
      format: '{value}회',
      style: {
      color: "black",
      fontSize:"20px",
      fontWeight:400,
      }

      }
      
      }, { // Tertiary yAxis
      gridLineWidth: 0,
      title: {
      text: '',
      style: {
      color: 'black',
      
      }
      },
      labels: {
      format: '{value}g',
      style: {
      color: "black",
      fontSize:"20px",
      fontWeight:400,
      }
      },


      opposite: true
      }],


      tooltip: {
      crosshairs: true,
      shared: true
      },
      plotOptions: {
      spline: {
      marker: {
      radius: 9,
      lineColor: '#666666',
      lineWidth: 1,
      fontSize:'200'
      }
      }
      },



      series: [{
      yAxis:1,
      name: '이용횟수',
      marker: {
      symbol: 'square',
      },
  
      data: {{count}},
     
      
      }, {
      yAxis:2,
      name: '탄소절감량',
      marker: {
      symbol: 'diamond'
      },
       
      data: [{
      y: {{save.0}},}, {{save.1}}, {{save.2}}]
      }
      ],

// *********************************************


      options: {
        scales: {
          xAxes: [{
            ticks:{
              fontColor : 'rgba(12, 13, 13, 1)',
              fontSize : "30px"
            },

          }]
        }
      },


      
      credits : false,

      legend: {

        x: 100,
        verticalAlign: 'top',//정렬
        y: 70,
        itemStyle: {color: "black", fontSize:"25px"} //글자스타일
      },




      });




  </script>

{% comment %} /graph {% endcomment %}

<div id="first">
    <div class="container">

        <div class="TabMenu">
        <ul class="tabs">
            <li class="tab-link current" data-tab="tab-1">텀블러</li>
            <li class="tab-link " data-tab="tab-2">장바구니</li>
            <li class="tab-link " data-tab="tab-3">다회용기</li>

        </ul>
        </div>
    </div>


	<div id="tab-1" class="tab-content current">

        <div class="hall_box">
            <div id="aa">
                <div class="hall_p">
                    <div id="head_1">적립가능 포인트
                      <button id="tum_img" class="inline" style="background-color:transparent; border:0px;">
                        <img id="qu_img" style="width:25px; height:25px; margin-bottom:40px; margin-left:5px;" src="{% static 'images/question.png' %}">
                      </button>
                    </div>
                    <div id="head_2">50P</div>
                    <div id="head_3">
                      <button id="juklib_button1" class="inline" value="tumbler">적립</button>
                    </div>
                     
                    </div>
                     
                    <div style="padding: 10px">
                    <img class="line" src="{% static 'images/선.png' %}">
                    </div>
                     
                    <div class="pyo">
                    <div class="pyo_1">
                    <div class="title">이번주이용내역</div>
                    <div class="count">{{count.0}}회</div>
                    </div>
                    <div class="pyo_1">
                    <div class="title">총 이용내역</div>
                    <div class="count">{{count.0}}회</div>
                    </div>
                    <div class="pyo_1">
                    <div class="title">총 아낀 탄소량</div>
                    <div class="count">{{save.0}}g</div>
                    </div>
        
                </div>
            </div>
        </div>
	</div>

  <div id="modal_tum_img" class="modal_overlay">
    <div class="modal_window">
        <div class="modal_title">
            <div class="modal_title_side"></div>
            <div>  </div>
            <div class="modal_title_side">
                <span id="close_modal" class="material-icons-outlined">
                    확인
                </span>
            </div>
        </div>
        <div id="img_modal">
          <img id="img_modal_1" src="{% static 'images/텀_설.png' %}" alt="">
  
        </div>
    </div>
  </div>

  

  <div id="modal_juklib_button1" class="modal_overlay">
    <div class="modal_window_coin">
      <div id="juklib_modal_content">
          <img id="coin_img" src="{% static 'images/coin.gif' %}">
          <div id="coin_modal_text">
            <div id="clap">짝짝짝~ <img src="{% static 'images/clap.png' %}" style="width:80px; height:80px; margin-top:0px;">
            </div>
        
            <div id="juklib_text">
              <div id="modal_point">
                50p
              </div>
              <div>가 적립되었어요!</div>
            </div>
          </div>
      </div>

      <div class="modal_title_side_coin">
        <div id="hwakin"><span id="close_modal_1" class="material-icons-outlined">
            확인
        </span></div>
      </div>

    </div>
  </div>

  
{% comment %}  {% endcomment %}
<div id="tab-2" class="tab-content">
  <div class="hall_box">
     
      


 
      <div id="aa">
          <div class="hall_p">
            <div id="head_1">적립가능 포인트<button id="jang_img" class="inline" style="background-color:transparent; border:0px;"><img id="qu_img" style="width:25px; height:25px; margin-bottom:40px; margin-left:15px;" src="{% static 'images/question.png' %}">
            </button></div>
              <div id="head_2">50P</div>
              <div id="head_3">
                <button id="juklib_button2" class="inline" value="bag">적립</button>
              </div>
  
          </div>
  
          <div style="padding: 10px">
              <img class="line" src="{% static 'images/선.png' %}">
          </div>
  
          <div class="pyo">
              <div class="pyo_1">
                  <div class="title">이번주이용내역</div>
                  <div class="count">{{count.1}}회</div>
              </div>
              <div class="pyo_1">
              <div class="title">총 이용내역</div>
              <div class="count">{{count.1}}회</div>
              </div>
              <div class="pyo_1">
              <div class="title">총 아낀 탄소량</div>
              <div class="count">{{save.1}}g</div>
              </div>
  
          </div>
      </div>
  </div>
</div>


<div id="modal_jang_img" class="modal_overlay">
  <div class="modal_window">
      <div class="modal_title">
          <div class="modal_title_side"></div>
          <div>  </div>
          <div class="modal_title_side">
              <span id="close_modal1" class="material-icons-outlined">
                  확인
              </span>
          </div>
      </div>
      <div id="img_modal">
        <img id="img_modal_1" src="{% static 'images/장_설.png' %}" alt="">

      </div>
  </div>
</div>

<div id="modal_juklib_button2" class="modal_overlay">
  <div class="modal_window">
      <div class="modal_title">
          <div class="modal_title_side"></div>
          <div>  </div>
          <div class="modal_title_side">
              <span id="close_modal_2" class="material-icons-outlined">
                  확인
              </span>
          </div>
      </div>
     <div>장바구니 포인트 적립</div>
  </div>
</div>

 {% comment %}  {% endcomment %}
	<div id="tab-3" class="tab-content">
        <div class="hall_box">
           
            
        
            <div id="aa">
                <div class="hall_p">
                  <div id="head_1">적립가능 포인트<button id="da_img" class="inline" style="background-color:transparent; border:0px;"><img id="qu_img" style="width:25px; height:25px; margin-bottom:40px; margin-left:15px;" src="{% static 'images/question.png' %}">
                  </button></div>
                    <div id="head_2">50P</div>
                    <div id="head_3">
                      <button id="juklib_button3" class="inline" value="container">적립</button>
                    </div>
        
                </div>
        
                <div style="padding: 10px">
                    <img class="line" src="{% static 'images/선.png' %}">
                </div>
        
                <div class="pyo">
                    <div class="pyo_1">
                        <div class="title">이번주이용내역</div>
                        <div class="count">{{count.2}}회</div>
                      </div>
                      <div class="pyo_1">
                      <div class="title">총 이용내역</div>
                      <div class="count">{{count.2}}회</div>
                      </div>
                      <div class="pyo_1">
                      <div class="title">총 아낀 탄소량</div>
                      <div class="count">{{save.2}}g</div>
                    </div>
        
                </div>
            </div>
	</div>

  <div id="modal_da_img" class="modal_overlay">
    <div class="modal_window">
        <div class="modal_title">
            <div class="modal_title_side"></div>
            <div>  </div>
            <div class="modal_title_side">
                <span id="close_modal2" class="material-icons-outlined">
                    확인
                </span>
            </div>
        </div>
        <div id="img_modal">
          <img id="img_modal_1" src="{% static 'images/다_설.png' %}" alt="">
  
        </div>
    </div>
  </div>

  <div id="modal_juklib_button3" class="modal_overlay">
    <div class="modal_window">
        <div class="modal_title">
            <div class="modal_title_side"></div>
            <div>  </div>
            <div class="modal_title_side">
                <span id="close_modal_3" class="material-icons-outlined">
                    확인
                </span>
            </div>
        </div>
       <div>장바구니 포인트 적립</div>
    </div>
  </div>


{% comment %}  {% endcomment %}
</div>





<script>

  const modal = document.getElementById("modal_tum_img");
  const buttonAddFeed = document.getElementById("tum_img");
  buttonAddFeed.addEventListener("click", e => {
      modal.style.display = "flex";
      document.body.style.overflowY = "hidden"; // 스크롤 없애기
  });


  const modal1 = document.getElementById("modal_jang_img");
  const buttonAddFeed1 = document.getElementById("jang_img");
  buttonAddFeed1.addEventListener("click", e => {
      modal1.style.display = "flex";
      document.body.style.overflowY = "hidden"; // 스크롤 없애기
  });

  const modal2 = document.getElementById("modal_da_img");
  const buttonAddFeed2 = document.getElementById("da_img");
  buttonAddFeed2.addEventListener("click", e => {
      modal2.style.display = "flex";
      document.body.style.overflowY = "hidden"; // 스크롤 없애기
  });


  const modal_1 = document.getElementById("modal_juklib_button1");
  const buttonAddFeed_1 = document.getElementById("juklib_button1");
  buttonAddFeed_1.addEventListener("click", e => {
      modal_1.style.display = "flex";
      document.body.style.overflowY = "hidden"; // 스크롤 없애기
  });

  const modal_2 = document.getElementById("modal_juklib_button2");
  const buttonAddFeed_2 = document.getElementById("juklib_button2");
  buttonAddFeed_2.addEventListener("click", e => {
      modal_2.style.display = "flex";
      document.body.style.overflowY = "hidden"; // 스크롤 없애기
  });

  const modal_3 = document.getElementById("modal_juklib_button3");
  const buttonAddFeed_3 = document.getElementById("juklib_button3");
  buttonAddFeed_3.addEventListener("click", e => {
      modal_3.style.display = "flex";
      document.body.style.overflowY = "hidden"; // 스크롤 없애기
  });




  
  // 모달 닫기 코드
  const buttonCloseModal = document.getElementById("close_modal");
  buttonCloseModal.addEventListener("click", e => {
      modal.style.display = "none";
      document.body.style.overflowY = "visible";
  });

  const buttonCloseModal1 = document.getElementById("close_modal1");
  buttonCloseModal1.addEventListener("click", e => {
      modal1.style.display = "none";
      document.body.style.overflowY = "visible";
  });

  const buttonCloseModal2 = document.getElementById("close_modal2");
  buttonCloseModal2.addEventListener("click", e => {
      modal2.style.display = "none";
      document.body.style.overflowY = "visible";
  });

  


  const buttonCloseModal_1 = document.getElementById("close_modal_1");
  buttonCloseModal_1.addEventListener("click", e => {
      modal_1.style.display = "none";
      document.body.style.overflowY = "visible";
  });

  const buttonCloseModal_2 = document.getElementById("close_modal_2");
  buttonCloseModal_2.addEventListener("click", e => {
      modal_2.style.display = "none";
      document.body.style.overflowY = "visible";
  });

  const buttonCloseModal_3 = document.getElementById("close_modal_3");
  buttonCloseModal_3.addEventListener("click", e => {
      modal_3.style.display = "none";
      document.body.style.overflowY = "visible";
  });

</script>

</body>


{% endblock content %}


