
{% load static %}
{% block content %}



<head>
    <link rel="stylesheet" type="text/css" href="//cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/topics/graph.css' %}">

        <!-- 2. 사이트 html 하단 script 태그 위치 -->
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/series-label.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/modules/export-data.js"></script>

    <script>
        $(document).ready(function(){
	
            $('ul.tabs li').click(function(){
                
                var tab_id = $(this).attr('data-tab');
                
                $('ul.tabs li').removeClass('current');
                $('.tab-content').removeClass('current');
                $(this).addClass('current');
                $("#"+tab_id).addClass('current');  
            });

            $('#juklib_button').click(function(){
                var point = $(this).val();
                
                $.ajax({
                  type:'get',
                  url:'/topics/getPoint'+ {{user.pk}},
                  dataType:'json',
                  data: {
                    'point':point
                  }

                success:function(result){
                   alert(result);
                }//callback
            });
                });
            });
        
        });
    </script>
    <style>
      #graph{
        font-size:50px;
        width: 80%;
        padding-left: 140px;
        
      }
      ul.tabs{
        margin: 0px;
        padding: 0px;
        list-style: none;
    }
    
      ul.tabs li{
        background: white;
        color: rgb(0, 0, 0);
        display: inline-block;
        padding: 10px 15px;
        cursor: pointer;
        font-size: 38px;
        width: 30%;
        text-align: center;
        border-radius: 10px;
    }
    
      ul.tabs li.current{
        text-decoration: underline;
        background-color: rgba(203, 221, 207, 0.107);
        font-size: 40px;
        color:black;
        /* margin-bottom: 40px; */
    }
    </style>

</head>


<body>

  <figure class="highcharts-figure">
    <div id="graph"></div>
    <p class="highcharts-description">
    
  </figure>
  
  <!-- 5. <script src="{% static 'chart/js/line.js' %}" ></script> -->
  <!-- 6. script -->
  <script>
    Highcharts.chart('graph', {
      
      chart: {
        type: 'column',
       
      },
      
      title: {
        style: {//차트 전체 스타일 지정
          color: '#444',
          fontFamily: 'notoSans',
          fontWeight:'1000',
          fontSize:'40px'
        },
        text: '이용횟수와 그에 따른 탄소 감축량'
      },
      subtitle: {
        text: '이만큼이나 환경을 사랑하셨군요!'
      },
      xAxis: {
        categories: ['텀블러', '장바구니', '다회용품'],
        style: {//차트 전체 스타일 지정
          fontSize:'50px'
        }
        
      },
      yAxis: {
        title: {
          text: '사용횟수/ 탄소 절감량'
        },
        {% comment %} labels: {
          
          formatter: function () {
            return this.value + '°';
          }
        } {% endcomment %}
      },
      tooltip: {
        crosshairs: true,
        shared: true
      },
      plotOptions: {
        spline: {
          marker: {
            radius: 4,
            lineColor: '#666666',
            lineWidth: 1
          }
        }
      },
      series: [{
        
        name: '이용횟수',
        marker: {
          symbol: 'square'
        },
        data: {{count}}

      }, {
        name: '탄소절감량',
        marker: {
          symbol: 'diamond'
        },
        data: [{
          y: {{save.0}},}, {{save.1}}, {{save.2}}]
      }]
    });
  </script>

{% comment %} /graph {% endcomment %}

<div id="first">
    <div class="container">

        <div class="TabMenu">
        <ul class="tabs">
            <li class="tab-link current" data-tab="tab-1">텀블러</li>
            <li class="tab-link " data-tab="tab-2">장바구니</li>
            <li class="tab-link " data-tab="tab-3">다회용기</li>

        </ul>
        </div>
    </div>



	<div id="tab-1" class="tab-content current">
        <div class="hall_box">
           
            
          
            <div id="aa">
                <div class="hall_p">
                    <div id="head_1">적립가능 포인트</div>
                    <div id="head_2">20P</div>
                    <div id="head_3">
                        <button id="juklib_button" class="inline" value="20"><img src="{% static 'images/적립.png' %}" width="210px" height="95px"></button>
                    </div>
        
                </div>
        
                <div style="padding: 10px">
                    <img class="line" src="{% static 'images/선.png' %}">
                </div>
        
                <div class="pyo">
                    <div class="pyo_1">
                        <div class="title">이번주이용내역</div>
                        <div class="count">1회</div>
                    </div>
                    <div class="pyo_1">
                        <div class="title">총 이용내역</div>
                        <div class="count">10회</div>
                    </div>
                    <div class="pyo_1">
                        <div class="title">총 아낀 탄소량</div>
                        <div class="count">10g</div>
                    </div>
        
                </div>
            </div>
        </div>
	</div>



{% comment %}  {% endcomment %}

<div id="tab-2" class="tab-content">
  <div class="hall_box">
     
      


 
      <div id="aa">
          <div class="hall_p">
              <div id="head_1">적립가능 포인트</div>
              <div id="head_2">10P</div>
              <div id="head_3">
                  <button id="juklib_button" class="inline"  value="10"><img src="{% static 'images/적립.png' %}" width="210px" height="95px"></button>
              </div>
  
          </div>
  
          <div style="padding: 10px">
              <img class="line" src="{% static 'images/선.png' %}">
          </div>
  
          <div class="pyo">
              <div class="pyo_1">
                  <div class="title">이번주이용내역</div>
                  <div class="count">1회</div>
              </div>
              <div class="pyo_1">
                  <div class="title">총 이용내역</div>
                  <div class="count">10회</div>
              </div>
              <div class="pyo_1">
                  <div class="title">총 아낀 탄소량</div>
                  <div class="count">10g</div>
              </div>
  
          </div>
      </div>
  </div>
</div>

 {% comment %}  {% endcomment %}

 
	<div id="tab-3" class="tab-content">
        <div class="hall_box">
           
            
        
            <div id="aa">
                <div class="hall_p">
                    <div id="head_1">적립가능 포인트</div>
                    <div id="head_2">30P</div>
                    <div id="head_3">
                        <button id="juklib_button" class="inline"  value="30"><img src="{% static 'images/적립.png' %}" width="210px" height="95px"></button>
                    </div>
        
                </div>
        
                <div style="padding: 10px">
                    <img class="line" src="{% static 'images/선.png' %}">
                </div>
        
                <div class="pyo">
                    <div class="pyo_1">
                        <div class="title">이번주이용내역</div>
                        <div class="count">1회</div>
                    </div>
                    <div class="pyo_1">
                        <div class="title">총 이용내역</div>
                        <div class="count">10회</div>
                    </div>
                    <div class="pyo_1">
                        <div class="title">총 아낀 탄소량</div>
                        <div class="count">10g</div>
                    </div>
        
                </div>
            </div>
	</div>


<!-- container -->
</div>

</body>


{% endblock content %}