
body{
    /* background-color: rgb(42, 164, 69); */
    background-color: rgba(195, 219, 200, 0.107);
}

#first{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    /* width: 100%; */

}

.container{
    /* width: 980px; */
    margin: 0px;
    margin-top: 30px;
    width:100%;
    /* background-color: white; */
    padding-top: 20px;
    border-radius: 30px;
    
}


ul.tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul.tabs li{
    background: rgb(202, 221, 202);
    color: rgb(28, 27, 27);
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 38px;
    width: 200px;
    height: 80px;
    text-align: center;
    border-radius: 8px;
    /* border-bottom: 3px solid black; */
    margin-left: 3px;

}

ul.tabs li.current{
    background:rgb(133, 171, 133);
    border-radius: 8px;
    padding: 10px 15px;
    color: rgb(255, 255, 255);
    font-size: 40px;
    /* border-bottom: 7px solid black; */
    /* margin-bottom: 40px; */
}

.tab-content{
    display: none;
    background: #ffffff;
    padding: 0;
    border-radius: 40px;
    
}

.tab-content.current{
    display: inherit;
    padding: 0;
    
}






*{
    font-family: 'NanumSquareRound',sans-serif;
    font-size: 30px;
  }


/* .hall_box{
    background-color: rgb(256, 256, 256);
    border-radius: 40px;
    margin : 60px;
    height: 1400px;
    box-shadow: 5px 5px rgb(235, 235, 235);
    margin-top: 100px;
    
} */

#tp_text{
    font-size: 44px;
    padding: 30px;
    height: 100px;
    margin-left: 40px;
    margin-top: 40px;
    padding-right: 0;
    /* font-weight: bolder; */
}

#tp_info{
    font-size: 20px;
    padding-top: 40px;
    /* margin-top: 20px; */
    /* border: 1px solid black; */
    padding-left: 10px;
    margin-top: 50px;
}

#info_button{
    margin-left: 0;
    background-color: transparent;
    border : 0;
}

#a{
    display: flex;
    flex-direction: row;
}

#graph{
    margin-left: 20px;
    width:700px;
    height:700px;

}

.hall_p{
    /* border: 1px solid black; */
    height: 100px;
    margin-top: 70px;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.hall_p div{
    /* border: 1px solid red; */
    font-size: 40px;
}

#head_1{

    margin-top: 20px;
    width: 50%;
    /* font-size: 60px; */
}

#head_2{

    margin-top:20px;
    width:10%
}

#head_3{

    width:40%;
}


#juklib_button1,#juklib_button2,#juklib_button3 {

    /* background-color: rgb(6, 61, 6); */
    background-color: rgb(164, 198, 164);
    border : 0;
    width: 200px;
    height: 75px;
    border-radius: 18px;
    color: white;
    margin-left: 30px;
    margin-top: 15px;
    font-size: 35px;
    box-shadow: 2px 2px 13px rgb(220, 218, 218);
}

.line{
    width: 750px;
    margin-left: 45px;
    margin-top: 9px;
}

.title{
    font-size: 38px;
    width: 70%;
    margin-left: 0px;
}

.count{
    font-size: 47px;
    width: 30%;
}

.pyo{
    margin-left: 10px;
    margin-right: 0px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
    align-items: center;
    justify-items: center;

}

.pyo div{
    /* border: 1px solid black; */
}

.pyo_1{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 85px;
    width: 80%;
    /* justify-content: flex-end; */

}

.pt{
    padding: 0px;
    margin: 0px;
}


/*  */



#graph{
    font-size:60px;
    width: 90%;
    padding-left: 50px;
    border-radius: 60px;  
  }


ul.tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;
    
}

#aaaaa{
    padding: 10px;
    padding-top: 60px;
    /* border: 1px solid black; */
    border-radius: 40px;
    margin: 40px;
    margin-top: 80px;
    background-color: rgb(255, 255, 255);
}

#qu{
    background-color: transparent;
}


#qu_img{
    width: 20px;
    height: 20px;
}



.modal_overlay {
    width: 100%;
    height: 200%;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.149);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    padding-bottom: 1000px;
}

.modal_window {
    background: rgb(245, 247, 243);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border-radius: 40px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 900px;
    height: 600px;
    position: relative;
    padding: 40px;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}

.modal_title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
    font-size: 20px;
}

.modal_title_side{
    flex: 0 0 100px;
    text-align: center;
}

#img_modal{
    display: flex;
    align-items: center;
    justify-items: center;
    padding-right: 20px;

    
}

#img_modal_1{
    width: 820px;
    height: 410px;
    margin-top: 40px;
    /* margin-right: 30px; */
}

#close_modal{
    font-size: 30px;
    color: rgb(25, 29, 25);
}

element.style{
    
}